<%= content_tag :article, :class => 'answer', :id => "A#{answer.to_param}" do %>
  <div class="body">
    <%= simple_format answer.body %>
  </div>
  
  <p>
    <%= t('sechat.answers.answer.posted', :date => l(answer.created_at, :format => :long)) %>
    <%= link_to t(answer.answer? ? :unanswer_btn : :answer_btn, :scope => [:sechat, :answers, :answer]),
      answer_question_answer_path(@question, answer), :method => :put %>
  </p>
<% end %>
